
<ion-content class="fondo"> 

  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="arrow-back-circle-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
      <h3>Home</h3>
      <ion-buttons slot="end" >
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="log-out-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  

  
<div class="cabecera">
  <ion-searchbar></ion-searchbar>
  <ion-img src="\assets\icon\user.png"></ion-img> 
</div>

  

  
  <ion-content class="fondo">
  
    <h3>Bienvenido {{username}}</h3>

    <ion-button class="registroButton" shape="round" expand="block" href="/registro">Registrar</ion-button>

   


  <ion-card class="caja" color="danger">
    <ion-card-header>
      <ion-icon name="help-outline"></ion-icon>
      <ion-card-title>FAQ</ion-card-title>
    </ion-card-header>
  </ion-card>

    
  </ion-content>  
  </ion-content>
  
