h3{
    color: white;
    text-align: center;
    
}

.cabecera {
    display: flex;
    width: 90%;
    align-items: center;
}

ion-img{
    width: 60px;

}

p{
    color: white;
}

ion-card{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.registroButton{
    margin-top: 20px;
    width: 50%;

}

ion-button{
    margin: auto;
}

.categorias{
    display: flex;
    margin: auto;
    width: 80%;
}

.caja{
    width: 45%;
}
    