

<ion-content class="fondo"> 
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="/principal-empresa">
        <ion-icon size="large" color="light" name="arrow-back-circle-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
      <h3>Home</h3>
      <ion-buttons slot="end" >
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="log-out-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  

  
  <ion-content class="fondo">
  
    <div class="registros">
      <ion-loading trigger="open-loading" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
      <ion-button class="boton btn1" id="open-loading">DESAYUNO</ion-button>
      <ion-loading trigger="open-loading1" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
      <ion-button class="boton btn2" id="open-loading1">ALMUERZO</ion-button>
      <ion-loading trigger="open-loading2" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
      <ion-button class="boton btn3" id="open-loading2">CENA</ion-button>
      <ion-loading trigger="open-loading3" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
      <ion-button class="boton btn4" id="open-loading3">COLACION</ion-button>
      <ion-loading trigger="open-loading4" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
      <ion-button class="boton btn5" id="open-loading4">OTRO</ion-button>
      <ion-loading trigger="open-loading5" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
      <ion-button class="boton btn6"id="open-loading5">ASISTENCIA</ion-button>
      

    </div>
    
    
  </ion-content>  
  </ion-content>