
<ion-content class="fondo"> 

  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="arrow-back-circle-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
      <h3>Home</h3>
      <ion-buttons slot="end" >
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="log-out-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  

  
<div class="cabecera">
  <ion-searchbar></ion-searchbar>
  <ion-img src="\assets\icon\user.png"></ion-img> 
</div>

  

  
  <ion-content class="fondo">
  
    <h3>Bienvenido usuario</h3>

    <ion-button class="registroButton" shape="round" expand="block" href="/registrar">Registrar</ion-button>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Información del mes</ion-card-title>
        <ion-card-subtitle>Aquí puedes visualizar un resumen de registros del mes</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button id="open-loading">Ver datos</ion-button>
        <ion-loading trigger="open-loading" message="Loading..." [duration]="3000" spinner="circles"></ion-loading>
      </ion-card-content>
    </ion-card>

    <h3>Categorias</h3>

<div class="categorias">

      <ion-card class="caja" color="secondary">
        <ion-card-header>
          <ion-icon name="document-outline"></ion-icon>
          <ion-card-title>Registros</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="caja" color="success">
        <ion-card-header>
          <ion-icon name="people-outline"></ion-icon>
          <ion-card-title>Usuarios</ion-card-title>
        </ion-card-header>
      </ion-card>
</div>

<div class="categorias">

  <ion-card class="caja" color="warning">
    <ion-card-header>
      <ion-icon name="podium-outline"></ion-icon>
      <ion-card-title>Infomes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="caja" color="danger">
    <ion-card-header>
      <ion-icon name="help-outline"></ion-icon>
      <ion-card-title>FAQ</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
    
  </ion-content>  
  </ion-content>
  