


<ion-content class="fondo"> 

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="arrow-back-circle-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
      <h3>Home</h3>
      <ion-buttons slot="end" >
        <ion-button href="/login">
        <ion-icon size="large" color="light" name="log-out-outline" ></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
 
  
<div class="cabecera">
  <ion-img src="\assets\icon\user.png"></ion-img> 
</div>

<h1>Ambrosio Leiva</h1>
<p>ambrosioleiva@correo.com</p>

<ion-item>
  <ion-label position="stacked">Ingresa su nueva contraseña</ion-label>
  <ion-input class="inputRedondo" type="password"></ion-input>
  <ion-label position="stacked">Reitere la contraseña nueva</ion-label>
  <ion-input class="inputRedondo"  type="password"></ion-input>

</ion-item>


    <ion-button shape="round" expand="block">Enviar</ion-button>




  </ion-content>
  