h3{
    color: white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    
}

.cabecera {
    display: flex;
    width: 90%;
    align-items: center;
}

ion-img{
    width: 60px;

}

p{
    color: white;
    margin-bottom: 100px;
}


.registroButton{
    margin-top: 20px;
    width: 80%;
    height: 50px;
    margin-bottom: 100px;

}

ion-button{
    margin: auto;
}

.registros{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 30px;
}

.boton{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
}

.btn1{
    --background: rgb(28, 154, 151);
}

.btn2{
    --background: green;
}

.btn3{
    --background: rgb(145, 66, 167);
}

.btn4{
    --background: rgb(204, 150, 56);
}

.btn5{
    --background: rgb(184, 71, 71);
}

.btn6{
    --background: grey;
    color: black;
}
