<ion-content class="fondo"> 
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h3>Registros</h3>
      <ion-buttons slot="end">
        <ion-button (click)="logOut()" color="dark">
          <ion-icon (click)="logOut()" size="large" color="dark" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="registros">
      <div class="titulo-consumos">
        <h4>Consumos</h4>
      </div>
      <ion-button (click)="addConsumo(1)" class="boton-consumo">
        <ion-icon name="restaurant" slot="start"></ion-icon>
        DESAYUNO
      </ion-button>
      <ion-button (click)="addConsumo(2)" class="boton-consumo">
        <ion-icon name="pizza" slot="start"></ion-icon>
        ALMUERZO
      </ion-button>
      <ion-button (click)="addConsumo(3)" class="boton-consumo">
        <ion-icon name="cafe" slot="start"></ion-icon>
        ONCE
      </ion-button>
      <ion-button (click)="addConsumo(4)" class="boton-consumo">
        <ion-icon name="restaurant" slot="start"></ion-icon>
        CENA
      </ion-button> 
      
      <div class="titulo-asistencia">
        <h4>Asistencia diaria</h4>
      </div>
      <ion-button color="danger" href="/asistencia" class="boton-asistencia">
        <ion-icon name="person" slot="start"></ion-icon>
        ASISTENCIA
      </ion-button> 
      <ion-button (click)="goBack()" color="primary" class="boton-volver">Cancelar</ion-button>
    </div>
  </div>
  
</ion-content>
