<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h3>Recuperar contraseña</h3>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()" color="dark">
        <ion-icon (click)="logOut()"size="large" color="dark" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="actualizarContrasena()" #passwordForm="ngForm" class="login-form">
    <ion-item>
      <ion-label>Contraseña Actual</ion-label>
      <ion-input
        type="password"
        name="contrasenaActual"
        [(ngModel)]="contrasenaActual"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        name="nuevaContrasena"
        [(ngModel)]="nuevaContrasena"
        required
      ></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="full" type="submit" [disabled]="!passwordForm.valid">
        Actualizar Contraseña
      </ion-button>
    </div>
  </form>
</ion-content>
