<ion-content class="fondo"> 
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h3>Registros</h3>
      <ion-buttons slot="end">
        <ion-button (click)="logOut()" color="dark">
          <ion-icon (click)="logOut()" size="large" color="dark" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="registros">
      <div class="texto-instruccion">Pulse el botón del evento que desea registrar</div>
      <ion-button (click)="addAsistencia(1)" color="success" class="boton-asistencia">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        ENTRADA
      </ion-button>
      <ion-button (click)="addAsistencia(2)" color="danger" class="boton-asistencia">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        SALIDA
      </ion-button>
      <ion-button color="primary" class="boton-volver" (click)="goBack()">
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        Cancelar
      </ion-button>
    </div>
  </div>
  
</ion-content>
