<ion-content class="fondo">  
  <ion-img src="\assets\icon\icono.png"></ion-img>
  
  <ion-content class="fondo">
  
    <h2>Iniciar Sesión</h2>
    

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input class="inputRedondo" type="text"></ion-input>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input class="inputRedondo"  type="password"></ion-input>

  </ion-item>

    <ion-button shape="round" expand="block"href="/principal-empresa">Iniciar Sesión</ion-button>

   <a href="/#"> <p>¿Olvidaste tu contraseña?</p></a>
  </ion-content>


  
  </ion-content>
  
