<ion-content>
  <div class="ion-text-center" style="display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;">    <div class="logo-container">
      <img src="assets/icon/00_log_sac.png" style="width: 200px;height: 200px;">
    </div>
    <div class="button-container">
      <ion-button class="button-round" expand="block" routerLink="/login">Iniciar sesión</ion-button>
      <div>
        <h4>¿No estás registrado como usuario?</h4>
        <p>Comunícate con el administrador de tu empresa.</p>
      </div>
    </div>
  </div>

  <ion-footer>
    <div class="ion-text-center">
      <p>&copy; 2023 SAC. Todos los derechos reservados.</p>
    </div>
  </ion-footer>
</ion-content>
