<ion-content>
  <div class="ion-text-center" style="display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;">
    <ion-icon src="/assets/icon/00_log_sac.png" style="font-size: 8rem;"></ion-icon>
    <h2 style="margin-top: 2rem;margin-bottom:2rem;">SERVICIO ADMINISTRATIVO COMPLEMENTARIO</h2>
    <div class="button-container">
      <ion-button class="button-round" expand="block" routerLink="/login">Iniciar sesión</ion-button>
      <ion-button class="button-round" expand="block">Solicitar acceso</ion-button>
    </div>
  </div>

  <ion-footer>
    <div class="ion-text-center">
      <p>&copy; 2023 SAC. Todos los derechos reservados.</p>
    </div>
  </ion-footer>
  
  
</ion-content>

