h3{
    color: white;
    text-align: center;
    
}

.cabecera {
    display: flex;
    width: 90%;
    align-items: center;
}

ion-img{
    width: 60px;

}

p{
    color: white;
}

ion-card{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.registroButton{
    margin-top: 20px;
    width: 50%;

}

ion-button{
    margin: auto;
}

.categorias{
    display: flex;
    margin: auto;
    width: 80%;
}

.caja{
    width: 45%;
}

.perfil-card {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-card ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .perfil-card ion-card-title,
  .perfil-card ion-card-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .perfil-card ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .perfil-card ion-button {
    margin-top: 10px;
    --background: var(--ion-color-primary);
    --color: white;
  }
  
  .perfil-card ion-button.secondary {
    --background: var(--ion-color-secondary);
  }